@model Azurite.Storehouse.Wrappers.CategoryW

@section styles_before {
    <link href="~/Content/select2/dist/css/select2.min.css" rel="stylesheet" />
}
@section styles {
    <link href="~/Content/iCheck/skins/square/green.css" rel="stylesheet" />
}

<div class="">
    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Промени категория</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    @using (Html.BeginForm<CategoriesController>(c => c.Edit(Guid.NewGuid()), FormMethod.Post, null, new { Id = "editCategoryForm", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Id)

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.LabelFor(model => model.ParentId, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-12" })
                                <div class="col-md-10 col-sm-10 col-xs-12">
                                    @Html.DropDownList("ParentId", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-12" })
                                <div class="col-md-10 col-sm-10 col-xs-12">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.NameEN, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-12" })
                                <div class="col-md-10 col-sm-10 col-xs-12">
                                    @Html.EditorFor(model => model.NameEN, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NameEN, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-12" })
                                <div class="col-md-10 col-sm-10 col-xs-12">
                                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DescriptionEN, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-12" })
                                <div class="col-md-10 col-sm-10 col-xs-12">
                                    @Html.TextAreaFor(model => model.DescriptionEN, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.DescriptionEN, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @*<div class="form-group">
                                @Html.LabelFor(model => model.ImagePath, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-12" })
                                <div class="col-md-10 col-sm-10 col-xs-12">
                                    <label class="btn btn-default btn-file">
                                        Зареди <input id="cat-img" type="file" style="display: none;">
                                    </label>
                                    <span class="selected-file-name"></span>
                                </div>
                            </div>*@

                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-2 col-xs-12">Атрибути:</label>
                                <div class="col-md-10 col-sm-10 col-xs-12 row">
                                    <div class="col-md-4">
                                        <input type="text" id="attribute-name-bg" class="form-control" placeholder="Име на атрибут" />
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" id="attribute-name-en" class="form-control" placeholder="Име-EN на атрибут" />
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label">
                                            <input id="isAttrActive" class="iCheck_cb" type="checkbox" />
                                            <label for="isAttrActive" class="iCheck_lb">Активен</label>
                                        </label>
                                    </div>
                                    <div class="col-md-2 text-right">
                                        <a class="btn btn-primary" onclick="createCategoryAttribute()">Добави</a>
                                    </div>
                                    <div class="col-md-12">
                                        <span id="attr-validation-error" class="model-state-error" style="display: none">
                                            Атрибута задължително трябва да има име на български и английски!
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-2">
                                    <ul id="attributes-list" style="list-style-type: none; margin: 0px; padding: 0px;">
                                        @{ 
                                            int index = 0;
                                        }
                                        @if (Model.CategoryAttributes != null)
                                        {
                                            foreach (var attr in Model.CategoryAttributes)
                                            {
                                                <li>
                                                    <div class="cat-attribute row">
                                                        <div class="col-md-4">
                                                            <label class="control-label">@attr.AttributeName</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label class="control-label">@attr.AttributeNameEN</label>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label class="control-label">
                                                                @Html.CheckBox("CategoryAttributes[" + @index + "].ActiveFilter", attr.ActiveFilter, new { @class = "iCheck_cb"})
                                                                <label class="iCheck_lb"></label>
                                                            </label>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="x-icon-holder" onclick="removeCategoryAttribute(this)">
                                                                <a class="fa fa-times x-icon"></a>
                                                                <input type="hidden" class="attrId" name="CategoryAttributes[@index].Id" value="@attr.Id" />
                                                                <input type="hidden" class="attrNameBg" name="CategoryAttributes[@index].AttributeName" value="@attr.AttributeName" />
                                                                <input type="hidden" class="attrNameEn" name="CategoryAttributes[@index].AttributeNameEN" value="@attr.AttributeNameEN" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                index++;
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>

                            
                            <div class="form-group images-formgroup">
                                <label class="control-label col-md-2 col-sm-2 col-xs-12">Снимки:</label>
                                <div class="col-md-10 col-sm-10 col-xs-12 images-holder">

                                    <div class="col-md-55">
                                        <div class="image-btn-holder image-container">
                                            <label class="image-btn">
                                                <input type="file" class="hidden cat-photo" name="photo" accept=".jpg, .png, .jpeg" onchange="imageSelected(this, event)" />
                                                <input type="hidden" name="deleted" value="false" />
                                                <span class="editSpan">
                                                    @{ 
                                                        string source = "";
                                                    }
                                                    @if (string.IsNullOrEmpty(Model.ImagePath))
                                                    {
                                                        <i class="fa fa-plus plusIcon" title="Добави снимка"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fa fa-times remIcon" title="Премахни снимка"></i>
                                                        source = @ServicePaths.Files + Model.ImagePath;
                                                    }
                                                </span>
                                                <img class="cat-img new-image" src="@source" />
                                            </label>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="ln_solid"></div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-sm-offset-2 col-md-10">
                                    @foreach (var state in ViewData.ModelState.Values)
                                    {
                                        foreach (var error in state.Errors)
                                        {
                                            <div class="model-state-error">@error.ErrorMessage</div>
                                        }
                                    }
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-sm-offset-2 col-md-10">
                                    <a class="btn btn-default" href="@(Url.Action<CategoriesController>(c => c.Index()))">Откажи</a>
                                    <input type="submit" value="Запиши" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/iCheck/icheck.min.js"></script>
    <script src="~/Content/select2/dist/js/select2.full.min.js"></script>
    <script src="~/Scripts/App/categoryAddEdit.js"></script>

    @if (!string.IsNullOrEmpty(Model.ImagePath))
    {
        <script>
            var icon = $('.editSpan i.fa');
            icon.on('click', function (e) {
                onInitialEditX(e);
            });
        </script>
    }
}
