@model Azurite.Store.Wrappers.ProductW
@using Azurite.Store.Common

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <!-- #region Breadcrumb -->
                @Html.Raw(Html.BuildBreadcrumbNavigation())
                <!-- #endregion -->
            </div>
        </div>
    </div>
    <div class="product-info">
        <input id="categoryId" type="hidden" name="categoryId" value="@Model.CategoryId" />
        <div class="col-md-7 images-block">
            <div class="row">
                <div class="col-xs-3 col-sm-2">
                    <ul class="list-unstyled list-inline product-images">
                        @foreach (var image in Model.ProductImages)
                        {
                            <li>
                                <img id="img_@image.Id" src="http://localhost:8696/cdn/files/@image.ImagePath" alt="" class="img-thumbnail" />
                            </li>
                        }
                    </ul>
                </div>
                <div class="col-xs-9 col-sm-10">
                    <img src="http://localhost:8696/cdn/files/@Model.ProductImages.FirstOrDefault().ImagePath" data-zoom-image="http://localhost:8696/cdn/files/@Model.ProductImages.FirstOrDefault().ImagePath" alt="@Model.Name" class="img-responsive img-preview" />
                </div>
            </div>
        </div>
        <div class="col-md-5 product-details">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2 class="product-name">@Model.Name</h2>
                    <div class="price">
                        @Html.Price(Model.Price, Model.Discount)
                    </div>
                    <p>@Model.Description</p>
                    <ul class="list-unstyled">
                        <li>
                            <span>Model:</span>
                            @Model.Model
                        </li>
                        <li>
                            <span>Number:</span>
                            @Model.Number
                        </li>
                        <li>
                            <span>Availability:</span>
                            @if(Model.Quantity > 0)
                            {
                                <strong class="label label-success">In Stock</strong>
                            }
                            else
                            {
                                <strong class="label label-default">Out of Stock</strong>
                            }
                        </li>
                    </ul>
                    <div class="row cart-button">
                        <div class="col-xs-12">
                            <label for="quantity">Qty</label>
                        </div>
                        <div class="col-sm-2">
                            <input id="qty_@Model.Id" type="number" min="1" class="form-control qty" value="1" />
                        </div>
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-cart" productId="@Model.Id">
                                Add to cart
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h3>Related Items</h3>
                <span class="devider"></span>
            </div>
        </div>
        <div id="related-products" class="col-xs-12">

        </div>
    </div>
</div>

<script src="~/Scripts/jquery.elevateZoom-3.0.8.min.js"></script>
<script src="~/Scripts/App/Products/products.js"></script>


    
