@model Azurite.Store.Wrappers.ProductW
@using Azurite.Store.Common

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <!-- #region Breadcrumb -->
                @Html.Raw(Html.BuildBreadcrumbNavigation())
                <!-- #endregion -->
            </div>
        </div>
    </div>
    <div class="product-info">
        <div class="col-sm-6 images-block">
            <p>
                <img src="" alt="@Model.Name" class="img-responsive thumbnail" />
            </p>
            <ul class="list-unstyled list-inline">
                @foreach (var image in Model.ProductImages)
                {
                    <li>
                        <img id="img_@image.Id" src="@image.ImagePath" alt="" />
                    </li>
                }
            </ul>
        </div>
        <div class="col-sm-6 product-details">
            <h2 class="product-name">@Model.Name</h2>
            <div class="product-price">
                <span class="fa fa-euro"></span>
                <span class="price">@Model.Price</span>
            </div>
            <ul class="list-unstyled">
                <li>
                    <span>Model:</span>
                    @Model.Model
                </li>
                <li>
                    <span>Number:</span>
                    @Model.Number
                </li>
                <li>
                    <span>Availability:</span>
                    @if(Model.Quantity > 0)
                    {
                        <strong class="label label-success">In Stock</strong>
                    }
                    else
                    {
                        <strong class="label label-default">Out of Stock</strong>
                    }
                </li>
            </ul>
            <div class="cart-button">
                <button type="button" class="btn btn-cart" onclick="AddToCart('@Model.Id');">
                    Add to cart
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
            <hr />
        </div>
        <div class="col-xs-12 product-info-box">
            <h4 class="heading">Description</h4>
            <div class="content panel-gold">
                <p>@Model.Description</p>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/App/Products/products.js"></script>
    
