@model IPagedList<Azurite.Store.Wrappers.ProductW>

@using PagedList.Mvc;
@using PagedList;
@using Azurite.Store.Common;

<div class="products-list">
    @foreach (var item in Model)
    {
        var imagePath = "http://localhost:8696/cdn/files/";
        if (item.ProductImages.Count() > 0)
        {
            imagePath += item.ProductImages.First().ImagePath;
        }
        else
        {
            imagePath = "";
        }

        <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="product-col">
                <div class="image">
                    <a href="/Products/Details/@item.Id">
                        <img src="@imagePath" alt="@item.Name" />
                    </a>
                </div>
                <div class="caption">
                    <h4>
                        <a href="/Products/Details/@item.Id">
                            @item.Name
                        </a>
                    </h4>
                    <div class="price">
                        @Html.Price(item.Price, item.Discount)
                    </div>
                    <div class="cart-button">
                        <input id="qty_@item.Id" class="qty" type="hidden" value="1" />
                        <button type="button" class="btn btn-cart" productId="@item.Id">
                            @ViewRes.SharedStrings.AddBtn
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="clearfix"></div>
<div class="col-xs-12">
    <div class="pull-right">
        @Html.PagedListPager(Model, page => Url.Action("GetAllPromoProducts", new { @search = ViewBag.search, @orderBy = ViewBag.orderBy, @page = page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
    </div>
</div>

<script src="~/Scripts/App/Products/products_shared.js"></script>
<script>
    $(document).ready(function () {
        $(".pagination li a").click(function (e) {
            e.preventDefault();

            var href = $(this).attr('href');
            if (href != undefined && href != '') {
                $.ajax({
                    url: href,
                    dataType: 'html',
                    success: function (data) {
                        $('#productsContainer').html(data);
                    }
                });
            }
        });
    });
</script>