@model IEnumerable<Azurite.Store.Wrappers.ProductW>
@using Azurite.Store.Common

@{ 
    ViewBag.Title = "Promotions";
}

@{ 
    var cdnUri = ApplicationHelpers.GetAppSetting("cdnUri");
}

<div class="products-list push-bottom-md">
    @foreach (var item in Model)
    {
        <div class="col-xs-6 col-sm-6 col-md-3">
            <div class="product-col">
                <div class="image">
                    <div class="cover"></div>
                    <a href="/Products/Details/@item.Id">
                        <img src="@(cdnUri + item.ProductImages?.FirstOrDefault()?.ImagePath)" alt="@item.Name" />
                    </a>
                </div>
                <div class="caption">
                    <h4>
                        <a href="/Products/Details/@item.Id">
                            @item.Name
                        </a>
                    </h4>
                    <div class="price">
                        @Html.Price(item.Price, item.Discount)
                    </div>
                    <div class="cart-button">
                        <input id="qty_@item.Id" class="qty" type="hidden" value="1" />
                        <button type="button" class="btn btn-cart" productId="@item.Id">
                            @ViewRes.SharedStrings.AddBtn
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="clearfix"></div>
</div>

<script src="~/Scripts/App/Products/products_shared.js"></script>
<script src="~/Scripts/App/Products/products.js"></script>