@model Azurite.Storehouse.Wrappers.CustomerW

<div class="">
    <div class="row">

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Клиент</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <label class="col-md-9 col-sm-9 col-xs-12 content-label">
                                @Html.DisplayTextFor(model => model.FirstName)
                            </label>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <label class="col-md-9 col-sm-9 col-xs-12 content-label">
                                @Html.DisplayTextFor(model => model.LastName)
                            </label>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <label class="col-md-9 col-sm-9 col-xs-12 content-label">
                                @Html.DisplayTextFor(model => model.Phone)
                            </label>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <label class="col-md-9 col-sm-9 col-xs-12 content-label">
                                @Html.DisplayTextFor(model => model.Email)
                            </label>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <label class="col-md-9 col-sm-9 col-xs-12 content-label">
                                @Html.DisplayTextFor(model => model.Country)
                            </label>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <label class="col-md-9 col-sm-9 col-xs-12 content-label">
                                @Html.DisplayTextFor(model => model.City)
                            </label>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Street, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <label class="col-md-9 col-sm-9 col-xs-12 content-label">
                                @Html.DisplayTextFor(model => model.Street)
                            </label>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <label class="col-md-9 col-sm-9 col-xs-12 content-label">
                                @Html.DisplayTextFor(model => model.ZipCode)
                            </label>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Company, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <label class="col-md-9 col-sm-9 col-xs-12 content-label">
                                @Html.DisplayTextFor(model => model.Company)
                            </label>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.VatID, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <label class="col-md-9 col-sm-9 col-xs-12 content-label">
                                @Html.DisplayTextFor(model => model.VatID)
                            </label>
                        </div>
                        @*<div class="ln_solid"></div>*@

                    </div>
                </div>
            </div>
            <div class="text-right">
                <a href="@(Url.Action<CustomersController>(c => c.Index()))" class="btn btn-default">
                    <i class="fa fa-arrow-left"></i>
                    Обратно
                </a>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Поръчки</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="form-horizontal">
                        @if (Model.Orders == null || Model.Orders.Count == 0)
                        {
                            <label class="content-label">Не бяха открити поръчки</label>
                        }
                        else
                        {
                            <table class="customer-order-table">
                                <tbody>
                                    @foreach (var order in Model.Orders)
                                    {
                                        <tr>
                                            <td>
                                                <a href="@(Url.Action<OrdersController>(c => c.Details(order.Id)))">
                                                    @order.OrderStatus.DisplayName
                                                </a>
                                            </td>
                                            <td>
                                                @order.DateStr
                                            </td>
                                            <td>
                                                <b>@order.Total</b>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>