<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/azurite-theme.css" rel="stylesheet" />

    @RenderSection("styles", false)
    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/App/Helpers/MVC.js"></script>
</head>
<body>
    <header class="header-wrap">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo">
                            <a href="#">
                                <img src="~/Resources/radianna-gold-logo-xxs-black.png" alt="Radianna Gold" />
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-7 col-xs-12">
                        <div class="header-links">
                            <ul class="nav navbar-nav pull-right">
                                <li>
                                    <a href="/Home">
                                        <i class="fa fa-home"></i>
                                        Home
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-group"></i>
                                        About Us
                                    </a>
                                </li>
                                <li>
                                    <a href="/ShoppingCart">
                                        <i class="fa fa-shopping-cart"></i>
                                        Shopping Cart
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-1 col-xs-12">
                        <div class="btn-group">
                            <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                ENG
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <ul class="pull-left dropdown-menu">
                                <li>
                                    <a tabindex="-1" href="#">English</a>
                                </li>
                                <li>
                                    <a tabindex="-1" href="#">Bulgarian</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <div class="footer-container">
            <div class="container">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h5>Information</h5>
                    <ul>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="#">Delivery Information</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h5>Service</h5>
                    <ul>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Site Map</a></li>
                        <li><a href="#">Affiliates</a></li>
                        <li><a href="#">Specials</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h5>Follow Us</h5>
                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">YouTube</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 last">
                    <h5>Contact Us</h5>
                    <ul>
                        <li>Radianna Gold</li>
                        <li>
                            1247 LB Nagar Road, Hyderabad, Telangana - 35
                        </li>
                        <li>
                            Email: <a href="#">info@demolink.com</a>
                        </li>
                    </ul>
                    <h4 class="lead">
                        Tel: <span>1(234) 567-9842</span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <p class="pull-left">
                    © @DateTime.Now.Year Radianna Gold. Designed By <a href="http://gemsolutions.eu" target="_blank">Gem Solutions</a>
                </p>
            </div>
        </div>
    </footer>
    
    @RenderSection("scripts", false)
</body>
</html>
